.premios-page__title {
  padding-top: 27px;
  padding-bottom: 21px;
}

.premios-page__title h1 {
  margin: 0 0 4rem;
  text-align: center;
}

.premios-page__image-section {
  padding: 27px 0;
}

.premios-page__image-section .image-with-text {
  max-width: var(--page-width);
}

.premios-page__video-section {
  padding: 27px 0;
}

.premios-page__video-inner {
  max-width: var(--page-width);
}

.premios-page__video-inner .title-wrapper {
  margin: 0 auto 33px;
}

.premios-page__image-section--stanford .image-with-text__heading {
  letter-spacing: -0.1px;
}

.premios-page__video-inner .title {
  margin: 0;
}

.premios-page__video {
  display: block;
  width: 100%;
  max-width: none;
  border-radius: var(--media-radius);
}

.premios-page__video--four-three::after {
  padding-bottom: 75%;
}

.premios-page__press {
  padding: 30px 0 39px;
}

.premios-page__press-wrapper {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 5.5rem;
}

.premios-page__press-content {
  max-width: 78rem;
  margin: 0 auto;
}

.premios-page__press-content h2 {
  margin: 0;
}

.premios-page__press-links {
  margin-top: 2rem;
}

.premios-page__press-links > div + div {
  margin-top: 0;
}

.premios-page__press-links p {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.premios-page__press-links p + p {
  margin-top: 1.6rem;
}

.premios-page__press-links > div:last-child p:last-child {
  margin-bottom: 0;
}

.premios-page__press-links a {
  overflow-wrap: anywhere;
}

@media screen and (min-width: 750px) {
  .premios-page__title {
    padding-top: 36px;
    padding-bottom: 28px;
  }

  .premios-page__image-section,
  .premios-page__video-section {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .premios-page__press {
    padding-top: 40px;
    padding-bottom: 52px;
  }
}

@media screen and (max-width: 749px) {
  .premios-page__title h1 {
    margin-bottom: 2.8rem;
  }

  .premios-page__image-section .image-with-text__content {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .premios-page__video-inner,
  .premios-page__press-wrapper {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .premios-page__video-inner .title-wrapper {
    margin-bottom: 22px;
  }

  .premios-page__press {
    padding-top: 30px;
    padding-bottom: 39px;
  }
}
