node_modules/
dist/
.astro/
.wrangler/
.vscode

.playwright-cli/
audit-performance-*.json
artifacts/
tmp-*.png
live-*.png

.env
.env.*
!.env.example

npm-debug.log*
package-lock.json

.DS_Store
Thumbs.db

#IA
.playwright-mcp
audit-lighthouse-desktop
audit-lighthouse-mobile
audit-performance-desktop
audit-performance-mobile
